<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylz.ai.mobile.mapper.ImageCommentMapper">

    <resultMap id="getUserInfosByUserId" type="com.ylz.ai.mobile.vo.response.ImageCommentInfo">
        <association property="userInfo" select="selectUserInfo" column="{id=commentUserId}"></association>
    </resultMap>

    <select id="selectUserInfo" resultType="com.ylz.ai.mobile.vo.response.UserInfo">
        select
            user.id as id,
            user.head_image as headImage,
            user.ip as ip,
            user.last_login_time as lastLoginTime,
            user.name as name,
            user.phone_number as phoneNumber,
            user.sex as sex,
            user.wx_number as wxNumber,
            user.description as description
        from front_user user
        where id = #{id}
    </select>

    <!-- 查询照片评论 -->
    <select id="selectImageCommentsByImageId" resultMap="getUserInfosByUserId" >
        select
            id as id,
            comment_image_id as commentImageId,
            comment_description as commentDescription,
            comment_user_id as commentUserId
        from image_comment
        where comment_image_id = #{id}
    </select>

    <!-- 查询照片分页列表 -->
    <select id="selectImageCommentPageList"
            parameterType="com.ylz.ai.mobile.vo.request.UserCommentRequest"
            resultType="com.ylz.ai.mobile.vo.response.ImageCommentMinInfo">
        select
            ic.id as id,
            ic.comment_description as commentDescription,
            fu.name as userName,
            i.name as imageName
        from image_comment ic
            LEFT JOIN image i ON i.id = ic.comment_image_id
            LEFT JOIN front_user fu ON fu.id = ic.comment_user_id
        where 1=1
        <if test="userComment.commentDescription!= null and userComment.commentDescription!= ''">
            and ic.comment_description like "%"#{userComment.commentDescription}"%"
        </if>
    </select>
</mapper>